@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import "tailwindcss";

@theme {
    --color-*: initial;

    --color-white: #fff;

    --color-gray-50: oklch(0.984 0.003 247.858);
    --color-gray-100: oklch(0.968 0.007 247.896);
    --color-gray-200: oklch(0.929 0.013 255.508);
    --color-gray-300: oklch(0.869 0.022 252.894);
    --color-gray-400: oklch(0.704 0.04 256.788);
    --color-gray-500: oklch(0.554 0.046 257.417);
    --color-gray-600: oklch(0.446 0.043 257.281);
    --color-gray-700: oklch(0.372 0.044 257.287);
    --color-gray-800: oklch(0.279 0.041 260.031);
    --color-gray-900: oklch(0.208 0.042 265.755);
    --color-gray-950: oklch(0.129 0.042 264.695);

    --color-primary: #301a44;
    --color-primary-50: #f2eeff;
    --color-primary-100: #e8e1fe;
    --color-primary-200: #d5c8fd;
    --color-primary-300: #bfa7fa;
    --color-primary-400: #ae84f5;
    --color-primary-500: #a367ed;
    --color-primary-600: #994ae1;
    --color-primary-700: #863cc6;
    --color-primary-800: #6c33a0;
    --color-primary-900: #57307f;

    --color-secondary: #c6b3e0;
    --color-secondary-50: #faf8fc;
    --color-secondary-100: #f2eef9;
    --color-secondary-200: #e9e1f3;
    --color-secondary-300: #d7c9e9;
    --color-secondary-400: #a182ca;
    --color-secondary-500: #8a66b7;
    --color-secondary-600: #75529e;
    --color-secondary-700: #624782;
    --color-secondary-800: #503a69;
    --color-secondary-900: #35214a;

    --color-accent-1: #007077;
    --color-accent-2: #55DAD5;
    --color-accent-3: #FFBE98;
    --color-accent-4: #D6D1CA;

    --font-sans: Open Sans, serif;
}

html {
    @apply overflow-x-hidden scroll-smooth;
}